body {
    margin: 0;
    background: #dedede;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  *{
    font-family: 'Nunito', sans-serif;
  }
  header{
    position: fixed;
    top: 0;
    width: 100vw;
    text-align: center;
  }
  .niveles{
    background: #000000;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #ffffff;
    margin: 3px;
    padding: 5px 10px;
  }
  .nivelSeleccionado{
    background: #ffffff;
    color: #000000;
    border: 1px solid #000000;
  }
  .gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
  }

  .color {
    width: 50%;
    height: 50%;
    display: inline-block;
    cursor: pointer;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .celeste {
    background: #29b6f6;
  }

  .celeste.light {
    background: #0288d1;
  }

  .violeta {
    background: #ba68c8;
  }

  .violeta.light {
    background: #9c27b0;
  }

  .naranja {
    background: #ffb74d;
  }

  .naranja.light {
    background: #ff9800;
  }

  .verde {
    background: #81c784;
  }

  .verde.light {
    background: #4caf50;
  }

  .btn-start {
    width: 400px;
    height: 100px;
    background: #000000;
    color: #ffffff;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    opacity: 0.4;
    border: none;
  }
  
  h1{
    width: 400px;
    height: 100px;
    background: #000000;
    color: #ffffff;
    font-size: 5rem;
    position: absolute;
    top: calc(42% - 50px);
    left: calc(50% - 200px);
    opacity: 0.8;
    text-align: center;
  }

  .hide {
    display: none;
  }
  .show{
      display: inline;
  }